extends ./Layout/index 

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            
            .col-md-7 
                h1 #{pagina}  
                blackquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan tincidunt leo sit amet lacinia. Praesent at justo lectus. Vestibulum varius rutrum dolor eu ultrices. Pellentesque volutpat egestas dolor a posuere. Vivamus imperdiet pulvinar condimentum. Pellentesque quis nisi libero.  aliquam fermentum est, sit amet lacinia tellus vestibulum vitae. Praesent eu faucibus nunc, eget vehicula nisl. Donec blandit massa sit amet dolor viverra, sed vestibulum tellus posuere. Mauris faucibus molestie enim eget convallis. Nunc vitae eros libero. In cursus metus lorem, in lobortis nisl pharetra a.    p Donec tristique, nunc ac imperdiet condimentum, leo ex venenatis lorem, vitae tincidunt nisi velit sed leo. Mauris sit amet justo ac lorem fermentum euismod. Donec dictum egestas suscipit. Proin vel mi nulla.

                p Sed consequat, sem dictum cursus ullamcorper, orci tellus lobortis turpis, eu aliquet purus leo eu lectus. Phasellus viverra turpis eget eros consectetur, quis dapibus dui suscipit. Nunc egestas nunc sed sapien facilisis, quis eleifend velit cursus. Nulla et mi finibus, feugiat quam eget, iaculis nibh. Vestibulum ut turpis quis sem dapibus tincidunt. Aenean vulputate varius turpis eu aliquet. Nam faucibus erat et lacus consequat viverra. Nulla facilisi. Morbi bibendum magna purus, a blandit elit viverra id. Duis placerat pharetra urna non tincidunt. Pellentesque eget enim at orci ultricies efficitur. Nulla non enim nunc.

                p Curabitur id gravida orci. Integer luctus metus nec nulla aliquam, non convallis neque feugiat. Etiam facilisis ex vitae erat elementum, at lobortis odio molestie. Duis malesuada urna nec libero commodo, in porttitor libero dictum. Cras eu elit ut lectus efficitur convallis. Donec et metus augue. Aliquam eu felis sit amet dui efficitur volutpat.

        .listado-iconos 
            .container.mt-5.py-5.text-center    
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid")
                        h2.mb-4 Seguridad 
                        p Curabitur id gravida orci. Integer luctus metus nec nulla aliquam, non convallis neque feugiat. Etiam facilisis ex vitae erat elementum, at lobortis odio molestie. Duis malesuada urna nec libero commodo, in porttitor libero dictum. Cras eu elit ut lectus efficitur convallis. Donec et metus augue. Aliquam eu felis sit amet dui efficitur volutpat.

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="icono de seguridad", class="img-fluid")
                        h2.mb-4 Mejores Destinos 
                        p Curabitur id gravida orci. Integer luctus metus nec nulla aliquam, non convallis neque feugiat. Etiam facilisis ex vitae erat elementum, at lobortis odio molestie. Duis malesuada urna nec libero commodo, in porttitor libero dictum. Cras eu elit ut lectus efficitur convallis. Donec et metus augue. Aliquam eu felis sit amet dui efficitur volutpat.

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="icono de seguridad", class="img-fluid")
                        h2.mb-4 Mejores Precios 
                        p Curabitur id gravida orci. Integer luctus metus nec nulla aliquam, non convallis neque feugiat. Etiam facilisis ex vitae erat elementum, at lobortis odio molestie. Duis malesuada urna nec libero commodo, in porttitor libero dictum. Cras eu elit ut lectus efficitur convallis. Donec et metus augue. Aliquam eu felis sit amet dui efficitur volutpat.
                
